.fondoRegister{
    display: flex;
    justify-content: center;
}

.contenedorRegister{
    height: 80vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8b874;
    margin: 2vh;
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}

.contenedorRegisterSuperior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorRegisterInferior{
    display: flex;
}

.inputRegister{
    border-radius: 1vh;
    border: solid 2px #2c2d2c;
    background-color: grey;
}

.botonRegister{
    width: 100%;
    border-radius: 1vh;
    border: solid 2px #2c2d2c;
    background-color: #67dbf2;
}