@font-face {
    font-family: "Eighty-porcent";
    src: url(../font/eight___.ttf);
}

*{
    font-family: "Eighty-porcent";
}

html{
  margin: 0;
  height: 100%;
}

/*saque todo el margin del body*/
body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #67dbf2;
}
