.fondoLeaderBoard{
    display: flex;
    justify-content: center;
}

.contenedorLeaderBoard{
    height: 80vh;
    width: 50%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    background-color: #f8b874;
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}

.tablaLeaderBoard{
    height: auto;
    width: 80%;
    margin: 2vh;
    border-collapse: collapse;
    border: 2px solid #2c2d2c;
    background-color: #f8b874;
}

.tablaLeaderBoard th{
    border: #2c2d2c solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.tablaLeaderBoard td{
    text-align: center;
    border: #2c2d2c solid 1px;
}
