.footer{
    height: 20vh;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.550);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablaCreadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.tablaCreadores th{
    color: #2c2d2c;
}

.tablaCreadores a{
   text-decoration: none;
    color: #2c2d2c;
}