
/*saque todo el margin del body*/
body{
    background-color: #67dbf2;
    margin: 0;
}

/*Header y nav*/
.header{
    height: 15vh;
    width: 100%;
    background-color: #f8b874;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    height: 15vh;
    width: 15vh;
}


/*Medio*/

.fondoGifYDescarga{
    display: flex;
    justify-content: center;
}

.contenedorGifYDescarga{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh;
    background-color: #f8b874;
}

.gifJuegoBalance{
    height: 70vh;
    width: 95%;
}

/*Footer*/

.footer{
    height: 20vh;
    width: 100%;
    background-color: #3c3d3c;
    margin: 0;
}