/*Header y nav*/
.header{
    height: 15vh;
    width: 100%;
    background-color: #f8b874;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon{
    height: 15vh;
    width: 15vh;
}

.botonNav{
    height: 10vh;
    width: 20vh;
    background-color: #f8b874; /* Fondo semitransparente */
    color: #2c2d2c;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}