.fondoLogin{
    display: flex;
    justify-content: center;
}

.contenedorLogin{
    height: 80vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8b874;
    margin: 2vh;
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}

.contenedorLoginSuperior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorLoginInferior{
    display: flex;
}

.inputLogin{
border-radius: 1vh;
border: solid 2px #2c2d2c;
background-color: grey;
}

.aLogin{
    text-decoration: none;
    font-size: 1.8vh;
    color: blue;
}

.botonLogin{
    width: 100%;
    border-radius: 1vh;
    border: solid 2px #2c2d2c;
    background-color: #67dbf2;
}
