.fondoAccount{
    display: flex;
    justify-content: center;
}

.contenedorAccount{
    height: 80vh;
    width: 50%;
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
    background-color: #f8b874;
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}

.botonCerrarSesion{
    height: 10vh;
    width: 20vh;
    background-color: #f8b874; /* Fondo semitransparente */
    color: #2c2d2c;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}