@font-face {
    font-family: "Eighty-porcent";
    src: url(../../font/eight___.ttf);
}

*{
    font-family: "Eighty-porcent";
}

/*saque todo el margin del body*/
body{
    background-color: #67dbf2;
    margin: 0;
}

/*Header y nav*/
.header{
    height: 15vh;
    width: 100%;
    background-color: #f8b874;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon{
    height: 15vh;
    width: 15vh;
}

.botonNav{
    height: 10vh;
    width: 20vh;
    background-color: #f8b874; /* Fondo semitransparente */
    color: #2c2d2c;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}


/*Medio*/

.fondoRegister{
    display: flex;
    justify-content: center;
}

.contenedorRegister{
    height: 80vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8b874;
    margin: 4vh;
    border-radius: 2vh;
    border: 2px solid #2c2d2c;
}

.contenedorRegisterSuperior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorRegisterInferior{
    display: flex;
}

.botonCrearCuenta{
    width: 100%;
}

/*Footer*/

.footer{
    height: 20vh;
    width: 100%;
    background-color: #2c2d2c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}