@font-face {
    font-family: "Eighty-porcent";
    src: url(../../font/eight___.ttf);
}

*{
    font-family: "Eighty-porcent";
}

/*saque todo el margin del body*/
body{
    background-color: #67dbf2;
    margin: 0;
}

/*Header y nav*/
.header{
    height: 15vh;
    width: 100%;
    background-color: #f8b874;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.icon{
    height: 15vh;
    width: 15vh;
}

.botonNav{
    height: 10vh;
    width: 20vh;
    background-color: #f8b874; /* Fondo semitransparente */
    color: #2c2d2c;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
    border: 4px solid #5d2907;
}


/*Medio*/

.fondoGifYDescarga{
    display: flex;
    justify-content: center;
}

.contenedorGifYDescarga{
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh;
    background-color: #f8b874;
}

.gifJuegoBalance{
    display: block;
    height: 70vh;
    width: 95%;
}

.logoJuegoBalance{
    height: 50vh;
    width: auto;
    position: absolute; /* Posiciona el botón sobre el GIF */
    top: 38%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado para que el botón quede perfectamente en el medio */
    border: none;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
}

.botonDescargar{
    height: 10vh;
    width: 20vh;
    position: absolute; /* Posiciona el botón sobre el GIF */
    top: 75%; /* Centra verticalmente */
    left: 75%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centrado para que el botón quede perfectamente en el medio */
    background-color: #f8b874; /* Fondo semitransparente */
    color: #2c2d2c;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón esté por encima del GIF */
    border-radius: 2vh;
    border: 4px solid #5d2907;
}
/*Footer*/

.footer{
    height: 20vh;
    width: 100%;
    background-color: #2c2d2c;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}